<h2>All Airbnb Listings</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Neighbourhood</th>
            <th>Price</th>
            <th>View</th>
        </tr>
    </thead>

    <tbody>
        {{#each listings}}
        <tr>
            <td>{{id}}</td>
            <td>{{NAME}}</td>
            <td>{{neighbourhood}}</td>
            <td>{{price}}</td>
            <td>
                <a class="" href="/airbnb_hbs/view/{{id}}">View</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<hr>
<div class="pagination">
    {{#if hasPreviousPage}}
        <a class="page-btn" href="/airbnb_hbs/list?page={{subtract currentPage 1}}">← Previous</a>
    {{/if}}

    <span class="page-number">Page {{currentPage}}</span>

    {{#if hasNextPage}}
        <a class="page-btn" href="/airbnb_hbs/list?page={{add currentPage 1}}">Next →</a>
    {{/if}}
</div>